<header class="header">
    <div class="ui top fixed menu inverted large">
        <div class="ui container">
            <div class="ui inverted secondary menu">
                <a class="header item" href="/">
                        {{logoHazelText}}
                </a>
                <a class="{{navLinkActive is same as("home") ? "active"}} item" href="/">
                    Accueil
                </a>
                <a class="{{navLinkActive is same as("members") ? "active"}} item" href="/members">
                    Membres
                </a>
            </div>

            <div class="right menu">

                {% if loggedin == true  %}
                <div class="item">
                    <div class="ui compact menu inverted">
                        <div class="ui simple dropdown item">
                            Mon compte
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="/profile/edit/informations">Profil</a>
                                <a class="item" href="/profile/appointments">Mes Rendez-vous</a>
                                <a class="item" href="/profile/work">Portfolio</a>
                                <a class="item" href="/logout">Déconnexion</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% else  %}


                <div class="item">
                    <a class="ui primary button" href="/login">
                        Compte
                    </a>
                </div>
                {% endif  %}
            </div>
        </div>
    </div>
</header>
