{% extends "./base.html.twig" %}


{% block body %}


<div class="ui container">

    <div class="ui three stackable cards">

        {% for member in members %}
            {% if member.role is not same as "admin" %}
                <div class="ui card four wide column">
                    <div class="image">
                        <img src="https://picsum.photos/200/220">
                    </div>
                    <div class="content">
                        <a class="header" href="/members/{{member.username}}">{{member.name}}</a>
                        <div class="meta">
                            <span class="role">{{member.role}}</span>
                        </div>
                        <div class="description">
                            {{member.description}}
                        </div>
                    </div>

                </div>
            {% endif %}

        {% endfor %}
    </div>
</div>

{% endblock %}